<form action="" class="m-5">
    <div class="mb-4">
        <label for="email" class="me-2">Email address: </label>
        <input type="text" id="email">
    </div>
    <div class="mb-4">
        <label for="pass" class="me-2">Password: </label>
        <input type="password" id="pass">
    </div>
    <div class="mb-4">
        <input type="checkbox" name="" id="check" class="me-2">
        <label for="check"> Remember me</label>
    </div>
    <div class="mb-4">
        <button type="submit">Submit</button>
    </div>
</form>
